/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
    font-family: SancoaleSoftened;
    src: url('../assets/fonts/Sancoale_Softened_Medium.ttf')
  }
 
body{

    background: -webkit-linear-gradient(0deg,#7A2180 16.67%,#E40276 95.31%);
}

.contact-form{
    margin: 7%;
  
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .title-form{
    background: -webkit-linear-gradient(0deg,#7A2180 16.67%,#E40276 95.31%);
    padding: 3%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: SancoaleSoftened;
    font-size: 1.5rem;
  }
  
  .terms{
    text-decoration: none;
    background-image: linear-gradient(to right, #7A2180, #7A2180, #E40276, #E40276);
    background-color: white; /* Fondo blanco */
    -webkit-background-clip: text; /* Gradiente aplicado al texto */
    -webkit-background-clip:border; /* Gradiente aplicado al texto */
    color: transparent; /* Texto transparente */
  
    background-clip: text; /* Gradiente aplicado al texto */
  
  }



  
.form-field-custom{
    height: calc(1.5em + .75rem + 4px);
    padding: .375rem .75rem;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    background-color: #fff;
    border-radius: 25px !important;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  .form-field-custom:focus {
    border-color: #80bdff; /* Color del borde cuando está enfocado */
    outline: 0; /* Eliminar el contorno predeterminado del navegador */
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .25); /* Sombra suave */
  }
  
  select option:first-child {
    background-color: #f0f0f0; /* Color de fondo más claro */
    color: #888 !important; /* Color de texto más claro */
  }
  
  .option0{
    background-color: #f0f0f0; /* Color de fondo más claro */
    color: #888 !important; /* Color de texto más claro */
  }
  
  .form-text-area{
    width: 100%; /* Ajusta el ancho según lo que necesites */
    height: 100%; /* Ajusta la altura según lo que necesites */
  }
  
  
  input[type="checkbox"] {
    transform: scale(1.8); /* Aumenta el tamaño al 150% */
    vertical-align: middle; /* Asegura que el checkbox se alinee con el texto */
    margin-right: 1%;
    border: none ;
  }
  
  .terms-text{
    font-family: 'Noto Sans';
    font-size: .9rem;
    font-weight: 400;
  }


  
.btn-contact{
    background: -webkit-linear-gradient(0deg,#7A2180 16.67%,#E40276 95.31%);
    color: white;
    border: none;
    padding: 0px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6rem;
    margin: 10px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
}

.btn-send-message{
    height: 150%;
    padding: 3%;
    margin: 0;
    margin-bottom: 5%;
    margin-right: 0;
    margin-left: 0;
    padding-right: 25%;
    padding-left: 25%;
    font-size: .8rem;
    font-weight: bolder;
  }